/Fandro2/bin/Debug/Fandro2.exe
/Fandro2/bin/Debug/Fandro2.pdb
/Fandro2/bin/Debug/Fandro2.vshost.exe
/Fandro2/bin/Debug/Fandro2.vshost.exe.manifest
/Fandro2/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/Fandro2/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Fandro2/obj/x86/Debug/Fandro2.Properties.Resources.resources
/Fandro2/obj/x86/Debug/Fandro2.csproj.FileListAbsolute.txt
/Fandro2/obj/x86/Debug/Fandro2.csproj.GenerateResource.Cache
/Fandro2/obj/x86/Debug/Fandro2.exe
/Fandro2/obj/x86/Debug/Fandro2.mainForm.resources
/Fandro2/obj/x86/Debug/Fandro2.pdb
/Fandro2/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
/Fandro2.suo
/Fandro2/Fandro2.csproj.user
/Fandro2/bin/Debug
/Fandro2/bin/x64/Debug
/Fandro2/obj/x64/Debug
/Fandro2/obj/x86/Debug
/fandro2obj/bin/Debug
/fandro2obj/bin/x64/Debug
/fandro2obj/bin/x86/Debug
/fandro2obj/obj/Debug
/fandro2obj/obj/x64/Debug
/fandro2obj/obj/x86/Debug
/fandro2obj/obj/x86/Debug
/.vs/Fandro2/FileContentIndex
/.vs/Fandro2/v17
/.vs/Fandro2/DesignTimeBuild
/.vs/ProjectEvaluation
/Fandro2/Fandro2.csproj.old
/Fandro2/obj/Debug/net6.0-windows
/Fandro2/obj/Debug/net7.0
/Fandro2/obj
/fandro2obj
/Fandro2/bin/Release/net6.0-windows
/.vs/Fandro2/config
